<a href="https://colab.research.google.com/github/aditi1042003/web_scrapping/blob/main/BasicAPI_call.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import urllib.request as url
path="https://data.covid19india.org/states_daily.json"
response=url.urlopen(path)

In [ ]:
data=json.load(response)

API -application programming interface
we get data in json format
javascript object notation
similar to dictionary

In [ ]:
data.keys()

dict_keys(['states_daily'])

In [ ]:
type(data)
state=data["states_daily"]

In [ ]:
len(state)

1563

In [ ]:
len(state)/3

521.0

In [ ]:
state[0]
state[-1]

{'an': '0',
 'ap': '13',
 'ar': '0',
 'as': '10',
 'br': '0',
 'ch': '0',
 'ct': '1',
 'date': '16-Aug-21',
 'dateymd': '2021-08-16',
 'dd': '0',
 'dl': '0',
 'dn': '0',
 'ga': '5',
 'gj': '0',
 'hp': '3',
 'hr': '2',
 'jh': '0',
 'jk': '1',
 'ka': '28',
 'kl': '142',
 'la': '0',
 'ld': '0',
 'mh': '100',
 'ml': '8',
 'mn': '6',
 'mp': '1',
 'mz': '3',
 'nl': '4',
 'or': '66',
 'pb': '2',
 'py': '0',
 'rj': '0',
 'sk': '0',
 'status': 'Deceased',
 'tg': '3',
 'tn': '28',
 'tr': '1',
 'tt': '438',
 'un': '0',
 'up': '1',
 'ut': '1',
 'wb': '9'}

In [ ]:
state[0]

{'an': '0',
 'ap': '1',
 'ar': '0',
 'as': '0',
 'br': '0',
 'ch': '0',
 'ct': '0',
 'date': '14-Mar-20',
 'dateymd': '2020-03-14',
 'dd': '0',
 'dl': '7',
 'dn': '0',
 'ga': '0',
 'gj': '0',
 'hp': '0',
 'hr': '14',
 'jh': '0',
 'jk': '2',
 'ka': '6',
 'kl': '19',
 'la': '0',
 'ld': '0',
 'mh': '14',
 'ml': '0',
 'mn': '0',
 'mp': '0',
 'mz': '0',
 'nl': '0',
 'or': '0',
 'pb': '1',
 'py': '0',
 'rj': '3',
 'sk': '0',
 'status': 'Confirmed',
 'tg': '1',
 'tn': '1',
 'tr': '0',
 'tt': '81',
 'un': '0',
 'up': '12',
 'ut': '0',
 'wb': '0'}

In [ ]:
import pandas as pd
df=pd.DataFrame(state)

In [ ]:
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0