<a href="https://colab.research.google.com/github/aditi1042003/web_scrapping/blob/main/web_scrapping_2_storing_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import bs4
import urllib.request as url
import pandas as pd

In [ ]:
data={
    'title':[],
    'price':[]
}



for i in range(1,11):
  print("page no:",i)
  path=f"https://www.flipkart.com/search?q=iphone&page={i}"
  response=url.urlopen(path)
  page=bs4.BeautifulSoup(response)
  #page.find("div",{'class':"_4rR01T"})
  #title=page.find("div",{'class':"_4rR01T"})
  #print(title.text)
  #price=page.find("div",{'class':"_30jeq3 _1_WHN1"})
  #print(price.text)
  titleList=page.find_all('div',{"class":"_4rR01T"})
  #print(len(titleList))
  priceList=page.find_all('div',{'class':"_30jeq3 _1_WHN1"})
  #print(len(priceList))
  for i in range(len(titleList)):
    data['title'].append(titleList[i].text)
    data['price'].append(priceList[i].text)

page no: 1
page no: 2
page no: 3
page no: 4
page no: 5
page no: 6
page no: 7
page no: 8
page no: 9
page no: 10

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df.head()

                             title    price
0  APPLE iPhone 11 (White, 128 GB)  ₹46,999
1  APPLE iPhone 11 (Black, 128 GB)  ₹46,999
2   APPLE iPhone 11 (White, 64 GB)  ₹41,999
3   APPLE iPhone 11 (Black, 64 GB)  ₹41,999
4  APPLE iPhone 12 (White, 128 GB)  ₹58,999

In [ ]:
df.shape

(240, 2)

In [ ]:
df.to_csv("flipkart_iphone_data.csv")